html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(218, 216, 216);
}

.container {
    background-color: aliceblue;
    padding: 1rem;
}

form {
    display: grid;
    justify-items: center;
    gap: 0.4rem;
}

label {
    padding-top: 0.4rem;
}

input {
    outline: none;
    border: blue solid 2px;
    border-radius: 8px;
    padding: 4px 4px;
    width: fit-content;
}

input:invalid:focus {
    border-color: red;
}

input:valid {
    border-color: rgb(22, 218, 22);
}